ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu {
  display: flex;
  flex-direction: column;
  padding: 35px;
  margin-right: 30px;
  width: calc(100% - 50px);
}

.category {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

product-item {
  width: 25%;
  margin: 20px;
}

button {
  background-color: var(--color5);
  border: 0;
  margin: 10px 3%;
  padding: 5px 0;
  border-radius: 40px;
  color: var(--color3);
  font-size: 16px;
  flex-grow: 1;
}

article section div {
  flex-grow: 2;
}

article {
  background-color: white;
  margin-bottom: 16px;
  padding-bottom: 1px;
  border-radius: 5px;
}

article img {
  width: 100%;
}

article a {
  text-decoration: none;
  display: block;
}

article section {
  display: flex;
}

h4 {
  margin: 8px 0 0 12px;
  color: #333d29;
  font-size: 18px;
  font-weight: bold;
}

.price {
  margin: 0px 0 0px 12px;
  color: #b08968;
  font-size: 18px;
}
