ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

product-item {
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  transition: transform 0.2s;
  margin: 10px;
}

.product-item section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.product-name {
  margin: 5px;
}

.price {
  color: #b08968;
  font-size: 18px;
  align-self: flex-end;
  margin: 5px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
  border-radius: 40px;
}

ul {
  background-color: var(--color6);
  margin: 4px 6px;
  padding: 0px 12px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

product-item img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.product-item:hover {
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  product-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
